<div class="bg">
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">    
    <div class="text-center">
        <mat-card class="box">
            <mat-card-header>
                <mat-card-title>Elérhetőségek</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p> Bármiféle problémád akad kérlek jelezd!<br></p>
                <p>Matter#0609<br></p>
                <p>Rólam</p>
                <ul>
                    <li>Aladzic Máté</li>
                    <li>SZTE TTIK</li>
                    <li>ZÜMI</li>
                    <li></li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
</div>
</div>
