<div class="bg">

<div class="head">
    <mat-card>
        <h1>Letöltés</h1>
    </mat-card>
</div>

<mat-accordion class="mat-acc">
    <mat-expansion-panel *ngFor="let item of items|async" class="mat-acc" (opened)="refreshCommentExpand($event,item.propertyId)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{item.name}}
          </mat-panel-title>
          <mat-panel-description>
            {{item.size}}  
            {{item.metric}}
            | Uploaded:
            {{item.username}}
            <mat-icon>description</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-tab-group (selectedTabChange)="refreshComment($event,item.propertyId)" dynamicHeight [selectedIndex]="tabindex">
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">description</mat-icon>
              Részletek
            </ng-template>
            <p>Leírás:</p>
            <p>Neve: {{item.name}}</p>
            <p>Nagysága: {{item.size}} {{item.metric}}</p>
            <p>Feltöltötte: {{item.username}}</p>
            <p>Rövid leírás:</p>
            <p>{{item.description}}</p>
            <br/>
            <a mat-raised-button color="primary" href="{{item.link}}" target="_blank">DOWNLOAD</a>
            <a mat-raised-button [ngStyle]="{'margin-left': '10px'}" *ngIf="user.uid == item.owner" color="warn" (click)="onUpdate(item.propertyId,item.date,item.description,item.link,item.metric,item.name,item.size,item.owner,item.username)" target="_blank">Szerkesztés</a>
            <a mat-raised-button [ngStyle]="{'margin-left': '10px'}" *ngIf="user.uid == item.owner" color="warn" (click)="onDelete(item.propertyId)" target="_blank">TÖRLÉS</a>
          </mat-tab>

          <ng-container *ngIf="(comments | async) === null">
            Loading tabs...
          </ng-container>
        
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">comment</mat-icon>
              Kommentek
            </ng-template>
              <table class="answers">
                <tr *ngFor="let item of comments|async">
                    {{item.comment}} | {{item.date.toDate() | date:'shortDate'}} | {{item.username}}
                    <a mat-raised-button [ngStyle]="{'margin-left': '10px'}" *ngIf="user.uid == item.userid" color="warn" (click)="onDeleteParam('comment',item.propertyId)" target="_blank">TÖRLÉS</a>
                </tr>
              </table>
              <br/>
              <a mat-raised-button color="warn" (click)="openDialog(item.propertyId)" target="_blank">NEW COMMENT</a>
          </mat-tab>
        </mat-tab-group>
        
      </mat-expansion-panel>
</mat-accordion>

</div>





